<Div>
    <Div class="example-container">

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedOption">
                    <mat-option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.label}}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Price</mat-label>
            <input matInput [(ngModel)]="price" type="number" class="example-right-align" placeholder="0">
            <span matPrefix>DT&nbsp;</span>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Qte available</mat-label>
            <input matInput [(ngModel)]="qte" type="number" class="example-right-align" placeholder="0">
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="description" class="example-right-align" placeholder="">
        </mat-form-field>

        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-button (click)="fileInput.click()">Select File</button>
    </Div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="addStandardProduct()" >Add</button>
</Div>