<mat-card style="background-color: white;">
    <mat-card-title>Product management</mat-card-title>


    <mat-tab-group>
        <mat-tab label="Standard Products">
            <button style="float: right;margin: 1em;" mat-raised-button color="primary"
            (click)="addStandardProduct()">Add Product</button>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category.label}} </td>
                </ng-container>


                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>



                <!-- Picture Column -->
                <ng-container matColumnDef="picture">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
                    <td mat-cell *matCellDef="let element"> {{element.picture}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <!-- qteAvailable Column -->
                <ng-container matColumnDef="qteAvailable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Qte available </th>
                    <td mat-cell *matCellDef="let element"> {{element.qteAvailable}} </td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="deleteStandardProduct(element.id)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Custom Products"> Content 2 </mat-tab>
    </mat-tab-group>

</mat-card>