<div class="card mt-4" style="height: 500px;">
    <h4 class="card-header">Cart</h4>
    <div class="card-body">

        <p-dialog header="Title" [(visible)]="display">
            <p-inputNumber [(ngModel)]="qte"></p-inputNumber>
            <button pButton type="button" label="Edit" (click)="editAction()"></button>
        </p-dialog>

        <p-table [value]="userCart">
            <ng-template pTemplate="header">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                    

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cart>
                <tr>
                    <td>{{cart.product.description}}</td>
                    <td>{{cart.totalPrice}}</td>
                    <td>{{cart.qte}}</td>
                    <td><button pButton type="button" label="Edit" (click)="showDialog(cart)"></button>
                        <button pButton type="button" label="Delete" (click)="deleteAction(cart)"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
