<div class="card mt-4" style="height: 500px;">
    <h4 class="card-header">Orders</h4>
    <div class="card-body">

        <p-dialog header="Title" [(visible)]="display">
            <p-inputNumber [(ngModel)]="qte"></p-inputNumber>
            <button pButton type="button" label="Edit" (click)="editAction()"></button>
        </p-dialog>

        <p-table [value]="userOrders">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Total Price</th>
                    <th>Quantity</th>
                    <th>DueDate</th>
                    <th>CreationDate</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.qte}}</td>
                    <td>{{order.dueDate}}</td>
                    <td>{{order.creationDate}}</td>
                    <td>{{order.status}}</td>
                    <td><button pButton type="button" label="Edit" (click)="showDialog(order)"></button>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
