a {
    color: blue;
    padding: 14px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    text-decoration: underline;
}

#card {
    background-color: transparent;
    border: none;
    width: 70%;
    top: 200px;
    left: 50px;
}

#login-btn {
    position: relative;
    left: 80%;
}

input {
    font-weight: bold;
}