.header__top {
    width: 100%;
}

.header__menu ul li {
    margin: 30px;
    display: inline;
}

.header__menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(128, 0, 128, 0.473);
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px rgba(97, 34, 86, 0.452);
}