<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <div class="offset-1 col-lg-12 col-md-12 order-md-2 order-3">
            <nav class="header__menu">
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/productManagement" *ngIf="isAdmin()">Product Management</a>
                    </li>
                    <li>
                        <a routerLink="/">Orders</a>
                    </li>
                    <li>
                        <a routerLink="/cart">Cart</a>
                    </li>
                    <li>
                        <a routerLink="/userManegement" *ngIf="isAdmin()">Admin</a>
                    </li>
                    <li>
                        <a (click)="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>