.header__top {
    width: 100%;
}

.header__menu ul li {
    display: inline;
    margin: 3%;
}

.header__menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(128, 0, 128, 0.473);
    padding: 10px;
    box-shadow: 5px 5px rgba(97, 34, 86, 0.452);
}

.img__container {
    margin-top: 100px;
    border-style: solid;
    border-color: #80008094;
    border-radius: 10px;
}

.img__container ul li {
    display: inline;
}

.img__container img {
    margin: 40px;
    border-radius: 5px;
    border-style: groove;
    border-color: #80008094;
    ;
    width: 220px;
    height: 250px;
}

#btn__passez_commande {
    background: #80008094;
    position: relative;
    left: 415px;
    top: 50px
}