<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12">
                    <div class="img__container">
                        <ul>
                            <li>
                                <img src="assets/img/Screenshot_2021-07-29-00-00-57-04_8b1cfbb769bd52fc36fa25a4fcc64305.jpg"
                                    alt="1">
                            </li>
                            <li>
                                <img src="/assets/img/Screenshot_2021-07-29-00-01-39-33_8b1cfbb769bd52fc36fa25a4fcc64305.jpg"
                                    alt="1">
                            </li>
                            <li>
                                <img src="assets/img/Screenshot_2021-07-29-00-02-03-19_8b1cfbb769bd52fc36fa25a4fcc64305.jpg"
                                    alt="1">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" id="btn__passez_commande">
                Passez Commande
            </button>
        </div>
    </div>
</header>